<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header class="header">
        <h1><a href="{{ url_for('index') }}">E-Commerce App</a></h1>
        <nav>
            <a href="{{ url_for('products') }}">Products</a>
            <a href="{{ url_for('cart') }}">Cart (<span id="cart-count">0</span>)</a> <!-- Updated here -->
            {% if session['username'] %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <!-- Modal for Error Alert -->
    <div id="errorModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal()">&times;</span>
            <p id="errorMessage"></p>
        </div>
    </div>
    <script>
        function showErrorModal(message) {
            document.getElementById("errorMessage").innerText = message;
            document.getElementById("errorModal").style.display = "block";
        }
        function closeModal() {
            document.getElementById("errorModal").style.display = "none";
        }

        function updateCartCount() {
            fetch('/cart_count')
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('cart-count').innerText = data.count;
                    }
                });
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            updateCartCount();
        });
    </script>
</body>

</html>